.background {
  min-height: 90rem;
  transition: background-image 0.07 ease-in-out;
}

.container {
  max-width: 120.7rem;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  min-height: 90rem;

  // border: 1px solid #000;
}
